*{
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 31, 31);
}

button{
    background-color: rgb(218, 160, 0);
}
#SudokuBox{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    background-color: rgb(218, 160, 0);
    width: 600px;
}
.Snumber{
    border: 2px solid rgb(9, 19, 78);
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
}