*{
    box-sizing: border-box;
}

body{
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

#ButtonBox{
    display: flex;
    flex-direction: column;
    border: 2px solid #F1B32E;
}

button{
    background-color: #11162e;
    color: #F1B32E;
    padding: 15px;
}

button:hover{
    border: 2px solid #000000;
}

#SudokuBox{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    background-color: #11162e;
    width: 600px;
    padding: 15px;
    border: 2px solid #F1B32E;
}
.Snumber{
    border: 2px solid #F1B32E;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    background-color: #F1B32E;
    color: #11162e
}

@media only screen and (max-width: 600px) {
    #SudokuBox{
        width: 312px;
        height: 350px;
        gap: 0.5px;
        margin: 2.5px;
    }
    .Snumber{
        width: 25px;
        height: 25px;
        font-size: 14px;
        font-weight: bold;
        border: 0px solid #F1B32E;
    }
    button{
        height: 36px;
        padding: 2px;
    }
}