*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191a1d;
}

#ButtonBox{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(212, 157, 38);
}

button{
    background-color: #11162e;
    color: rgb(255, 192, 19);
    padding: 15px;
}
#SudokuBox{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    background-color: #d49d26;
    width: 600px;
    padding: 15px;
    border: 2px solid rgb(212, 157, 38);
}
.Snumber{
    border: 2px solid rgb(18, 43, 187);
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    background-color: rgb(17, 22, 46);
    color: rgb(255, 192, 19);
}